.sketchfab-embed-wrapper{
    width: 80vh;
    height: 60vh;
    position: absolute;
    left: 5vh;
    top: 140vh;
    overflow: hidden; 
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center;
    border: 0.6px solid #333;
    border-radius: 10px;
}

.house{
    width: 80vh;
    height: 71vh;
    background-color: #0F0F2F3a;
    border-radius: 10px;
}
